# Build output + object files
obj/
build/
*.o
*.obj
*.exe
*.app

# my mac junk
*.DS_Store
*.dSYM/

# Xcode junk
*.xcworkspace
*.xcodeproj

# Binaries
solitaire
a.out

# Not needed
.vscode/

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
